/Intermediate
/Saved
/.vsconfig
/EditorWidgetEnum.sln
/.idea
/.vs
/Binaries
/Build
/Plugins/EditorWidget/Intermediate
/Plugins/EditorWidget/Binaries
/Plugins/Developer/RiderLink/Intermediate
/Plugins/Developer/RiderLink/Binaries
